$blue: #090C10;
$blue-light: #1B2129;
$blue-dark: #050609;

$red: #A6131B;
$red-light: #BF2830;
$red-dark: #8C0109;

$white: #CED0D8;
$white-light: #E6E9F2;
$white-dark: #BFC1C5;

$gray-1: #BDBABC;
$gray-2: #A3A1A2;
$gray-3: #8A8889;